<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="hero">
    <div class="hero-content">
      <h1>
        <%= image_tag("Logo.svg", alt: "Keelhaul Logo") %>
      </h1>
      <h2>App Store Receipt Validation</h2>
    </div>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
